.header {
    background-color: #F8F8F8;
    color: #033C08; 
    padding: 10px; 
    font: arial
}

.header nav {
    display: flex; 
    align-items: center;
}

.header img {
    height: 30px; 
    margin-right: 10px; 
}

.login-button {
    background-color: #3BD94B; 
    color: #F8F8F8; 
    font-family: Arial;
    font-size: 18px;
    border: none; 
    cursor: pointer; 
    width: 80px;
    height: 36px;
    border-radius: 4px;
    font-weight: 700;
}

.main {
    display: flex;
    background-color: #FFFFFF;
}

.conteudo {
    width: 1160px;
    height: 456px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.conteudo-texto {
    flex: 1
}

.conteudo-imagem {
    flex: 1;
    text-align: right;
}

#titulo {
    top: 204px; 
    left: 140px;
    width: 435px;
    height: 144px;
    font-size: 36px;
    font-weight: bold;
    color: #2F2E41;
    margin-bottom: 10px;  
    font-family: 'Raleway', sans-serif; 
}

.conteudo-texto p {
    width: 435px;
    height: 212px;
    font-family: arial;
    font-weight: 400;
    font-size: 18px;
    color: #838383;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 40px;
}

.começar-button {
    width: 435px;
    height: 48px;
    background-color: #3BD94B;
    color: #FFF;
    font-size: 18px;
    border: none;
    padding: 12px, 14px, 12px, 14px;
    border-radius: 4px;
    cursor: pointer;
    display: block; 
}

.botao-container {
    margin-top: 20px;
}

.conteudo-imagem img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #2F2E41;
}

